@page "/edit/{EmployeeId}"
@using EmployeeManagementModels
@inject HttpClient Http
@inject EmployeeService EmployeeService
@inject NavigationManager NavigationManager;


<PageTitle>Edit Employee</PageTitle>
<h1>Edit Employee</h1>

<EditForm Model="Employee" OnSubmit="SubmitForm" FormName="EditEmployee">
    <div class="form-group">
        <label>ID</label>
        <InputNumber class="form-control" @bind-Value="Employee!.Id" disabled />
    </div>
    <div class="form-group">
        <label>Full Name</label>
        <InputText class="form-control" @bind-Value="Employee!.Name" />
    </div>
    <div class="form-group">
        <label>Position</label>
        <InputText class="form-control" @bind-Value="Employee!.Position" />
    </div>
    <div class="form-group">
        <label>Department</label>
        <InputText class="form-control" @bind-Value="Employee!.Department" />
    </div>
    <div class="form-group">
        <label>Salary</label>
        <InputNumber class="form-control" @bind-Value="Employee!.Salary" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<p>@statusText</p>

@code {
    async public Task SubmitForm()
    {
        if (Employee is null) return;
        var response = await EmployeeService.Update(Employee);
        if(!response.Success)
        {
            statusText = response.Message;
            return;
        }

        statusText = $"Successfully updated employee {Employee.Name} with id = {Employee.Id}";
    }

    protected override async Task OnInitializedAsync()
    {
        if(!int.TryParse(EmployeeId, out var id))
        {
            statusText = $"Error, given employee id = `{EmployeeId}` is not a valid integer.";
            return;
        }
        var employeeResponse = await EmployeeService.GetById(id);

        if(!employeeResponse.Success)
        {
            statusText = employeeResponse.Message;
            return;
        }
        Employee = employeeResponse.Value;
    }

    protected override void OnInitialized() => Employee = new EmployeeModel() { Name = string.Empty, Position = string.Empty, Department = string.Empty };

    [SupplyParameterFromForm]
    private EmployeeModel? Employee { get; set; }
    private string statusText = string.Empty;
    [Parameter]
    public string EmployeeId { get; set; } = string.Empty;
}