@page "/"
@using EmployeeManagementModels
@inject HttpClient Http
@inject EmployeeService EmployeeService
@inject DepartmentService DepartmentService
@inject NavigationManager NavigationManager;
@inject IJSRuntime JS;


<PageTitle>Employee Management</PageTitle>
<h1>Employees</h1>

<DxLoadingPanel @bind-Visible="LoadingVisible" IsContentBlocked="true" ApplyBackgroundShading="true" IndicatorAreaVisible="false" Text="Fetching departments...">
    <DxGrid
        Data="@Employees"
        KeyFieldName="Id"
        PageSize="10"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        TextWrapEnabled="false"
        EditModelSaving="EditEmployee"
        DataItemDeleting="DeleteEmployee"
        EditMode="GridEditMode.EditRow"
        CustomizeDataRowEditor="CustomizeGridEditor"
        HighlightRowOnHover="true"
           
    >
        <Columns>
            <DxGridDataColumn FieldName="Name" MinWidth="30" />
            <DxGridDataColumn FieldName="Position" Width="10%" />
            <DxGridDataColumn FieldName="DepartmentId" Caption="Department" Width="10%">
                <EditSettings>
                    <DxComboBoxSettings Data="Departments" ValueFieldName="Id" TextFieldName="Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Salary" Width="10%" />
            <DxGridCommandColumn Width="10%" />
        </Columns>
    </DxGrid>
</DxLoadingPanel>

<p>@statusText</p>

@code {
    public async Task EditEmployee(GridEditModelSavingEventArgs args)
    {
        var employee = (EmployeeModel)args.EditModel;
        if(args.IsNew)
        {
            var response = await EmployeeService.Add(employee);
            statusText = response.Message ?? string.Empty;
        }
        else
        {
            var response = await EmployeeService.Update(employee);
            statusText = response.Message ?? string.Empty;
        }

        await UpdateModels();
    }

    public void CustomizeGridEditor(GridCustomizeDataRowEditorEventArgs args)
    {
        var settings = (IEditSettings)args.EditSettings;
        settings.ShowValidationSuccessState = true;
        settings.ValidationEnabled = true;
    }

    public async Task DeleteEmployee(GridDataItemDeletingEventArgs args)
    {
        var id = ((EmployeeModel)args.DataItem).Id;

        var response = await EmployeeService.Delete(id);
        if (!response.Success)
        {
            statusText = response.Message;
            return;
        }

        await UpdateModels();
    }

    protected override async Task OnInitializedAsync() => await UpdateModels();

    private async Task UpdateModels()
    {
        LoadingVisible = true;
        StateHasChanged();
        var employeesResponse = await EmployeeService.GetAll();
        Employees = employeesResponse.Value ?? [];
        var departmentsResponse = await DepartmentService.GetAll();
        Departments = departmentsResponse.Value;
        LoadingVisible = false;
    }

    public IEnumerable<DepartmentModel>? Departments { get; set; } = null;
    public IEnumerable<EmployeeModel>? Employees = null;
    public bool LoadingVisible { get; set; } = true;
    private string statusText = string.Empty;
}