@page "/"
@using EmployeeManagementModels
@inject HttpClient Http
@inject EmployeeService EmployeeService
@inject DepartmentService DepartmentService
@inject NavigationManager NavigationManager;
@inject IJSRuntime JS;


<PageTitle>Employee Management</PageTitle>
<h1>Employees</h1>

<DxLoadingPanel @bind-Visible="LoadingVisible" IsContentBlocked="true" ApplyBackgroundShading="true" IndicatorAreaVisible="false" Text="Fetching employees...">
    <DxGrid
        Data="@Employees"
        KeyFieldName="Id"
        ShowAllRows="true"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        TextWrapEnabled="false"
        EditModelSaving="EditEmployee"
        DataItemDeleting="DeleteEmployee"
        EditMode="GridEditMode.EditRow"
        CustomizeDataRowEditor="CustomizeGridEditor"
        HighlightRowOnHover="true">
        <ToolbarTemplate>
            <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                <DxToolbarItem BeginGroup="true">
                    <Template Context="toolbar_item_context">
                        Sort by:
                        <DxComboBox Text="Select" Data="SortOptions" @bind-Value="Sorting.SortField" />
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem>
                    <Template Context="toolbar_item_context">
                        Descending:
                        <DxCheckBox @bind-Checked="SortOrderBool" />
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem BeginGroup="true">
                    <Template Context="toolbar_item_context">
                        Filter by:
                        <DxComboBox Text="Select" Data="FilterOptions" @bind-Value="Filter.FilterField" />
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem>
                    <Template Context="toolbar_item_context">
                        Filter body:
                        <DxSearchBox @bind-Text="Filter.FilterBody" BindValueMode="BindValueMode.OnInput" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" aria-label="Search" />
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem BeginGroup="true">
                    <Template Context="toolbar_item_context">
                        Page:
                        <DxSpinEdit @bind-Value="Paging.PageIndex" />
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem>
                    <Template Context="toolbar_item_context">
                        Page size:
                        <DxSpinEdit @bind-Value="Paging.PageSize" />
                    </Template>
                </DxToolbarItem>
                <DxToolbarItem BeginGroup="true">
                    <Template Context="toolbar_item_context">
                        <DxButton Text="Apply" Click="UpdateModels" />
                    </Template>
                </DxToolbarItem>
            </DxToolbar>
        </ToolbarTemplate>
        <Columns>
            <DxGridDataColumn FieldName="Name" MinWidth="30" />
            <DxGridDataColumn FieldName="Position" Width="10%" />
            <DxGridDataColumn FieldName="DepartmentId" Caption="Department" Width="10%">
                <EditSettings>
                    <DxComboBoxSettings Data="Departments" ValueFieldName="Id" TextFieldName="Name" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Salary" Width="10%" />
            <DxGridCommandColumn Width="10%" />
        </Columns>
    </DxGrid>
</DxLoadingPanel>

<p>@statusText</p>

@code {
    public async Task EditEmployee(GridEditModelSavingEventArgs args)
    {
        var employee = (EmployeeModel)args.EditModel;
        if(args.IsNew)
        {
            var response = await EmployeeService.Add(employee);
            statusText = response.Message ?? string.Empty;
        }
        else
        {
            var response = await EmployeeService.Update(employee);
            statusText = response.Message ?? string.Empty;
        }

        await UpdateModels();
    }

    public void CustomizeGridEditor(GridCustomizeDataRowEditorEventArgs args)
    {
        var settings = (IEditSettings)args.EditSettings;
        settings.ShowValidationSuccessState = true;
        settings.ValidationEnabled = true;
    }

    public async Task DeleteEmployee(GridDataItemDeletingEventArgs args)
    {
        var id = ((EmployeeModel)args.DataItem).Id;

        var response = await EmployeeService.Delete(id);
        if (!response.Success)
        {
            statusText = response.Message;
            return;
        }

        await UpdateModels();
    }

    protected override async Task OnInitializedAsync()
    {
        var departmentsResponse = await DepartmentService.GetAll();
        Departments = departmentsResponse.Value;
        await UpdateModels();
    }

    private async Task UpdateModels()
    {
        LoadingVisible = true;
        StateHasChanged();

        Filter.FilterField = InvalidFields.Contains(Filter.FilterField) ? null : Filter.FilterField;
        Sorting.SortField = InvalidFields.Contains(Sorting.SortField) ? null : Sorting.SortField;
        Sorting.SortOrder = SortOrderBool ? SortingOrder.Descending : SortingOrder.Ascending;

        var employeesResponse = await EmployeeService.GetAll(Sorting, Filter, Paging);
        Employees = employeesResponse.Value ?? [];
       
        LoadingVisible = false;
    }

    public bool SortOrderBool { get; set; } = false;
    Sorting Sorting { get; set; } = new();
    Filter Filter { get; set; } = new();
    Paging Paging { get; set; } = new();
    private readonly IEnumerable<string> InvalidFields = ["None", "Select"];
    public List<string> SortOptions { get; } = ["None", "Name", "Salary"];
    public List<string> FilterOptions { get; } = ["None", "Position", "Department"];
    public IEnumerable<DepartmentModel>? Departments { get; set; } = null;
    public IEnumerable<EmployeeModel>? Employees = null;
    public bool LoadingVisible { get; set; } = true;
    private string statusText = string.Empty;
}